[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyglet = "*"
urwid = "*"
glooey = "*"
events = "*"
pylint = "*"

[dev-packages]
"flake8" = "*"
"autopep8" = "*"
pylint = "*"

[requires]
python_version = "3.6"
